@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

html {
    scroll-snap-type: y mandatory;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(aquamarine, fuchsia);
}

.row {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.first-slide {
    background:url(img/bg.avif);
}

.content-slide {
    background:url(img/bg.avif);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


div[class$="slide"]{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.container-fluid {
    display: flex;
    height: 100vh;
    overflow-y: hidden; 
    transform: translateX(-100%);
    transition: transform 0.6s ease;
    margin: 0;
    align-items: center;
 }

.container-fluid.show {
    transform: translateX(0);
}

.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
}

.container-fluid.colors {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.color-palette {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: inline;
    margin-top: 65px;
    color: white;
}

.color1 {
    width: 160px;
    height: 380px;
    background-color: #264653;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.color2 {
    width: 160px;
    height: 380px;
    background-color: #2a9d8f;
}
.color3 {
    width: 160px;
    height: 380px;
    background-color: #e9c46a;
}
.color4 {
    width: 160px;
    height: 380px;
    background-color: #f4a261;
}
.color5 {
    width: 160px;
    height: 380px;
    background-color: #e76f51;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.text-hover {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.color1:hover {
    cursor: pointer;
}
.color2:hover {
    cursor: pointer;
}
.color3:hover {
    cursor: pointer;
}
.color4:hover {
    cursor: pointer;
}
.color5:hover {
    cursor: pointer;
}

.color1:hover .text-hover {
    display: block;
}

.color2:hover .text-hover {
    display: block;
}

.color3:hover .text-hover {
    display: block;
}

.color4:hover .text-hover {
    display: block;
}

.color5:hover .text-hover {
    display: block;
}

div [class^="color"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copied-container {
    display: none;
    flex-direction: row;
    width: 300px;
    height: 50px;
    background-color: #f4a261;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px; 
}

.copied-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: auto;
}

.check-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.container-fluid.color-usage {
    display: flex;
    justify-content: center;
}

.row {
    width: 100%;
}
.col-6 {
    display: flex;
    justify-content: center;
    margin-top: 80px !important;
}
.correct-use {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.incorrect-use {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.col-12 {
    display: flex;
    justify-content: center;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.images {
    display: flex;
    justify-content: center;
}

.about-me {
    justify-content: center;
    text-align: center;
}
/* 264653-2a9d8f-e9c46a-f4a261-e76f51 */