@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

html {
    scroll-snap-type: y mandatory;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(aquamarine, fuchsia);
}

.first-slide {
    background:url(img/bg.avif);
}
.second-slide {
    background:url(img/bg.avif);
}
.third-slide {
    background-color: #e9c46a;
}
.fourth-slide {
    background-color: #f4a261;
}
.fifth-slide {
    background-color: #e76f51;
}

div[class$="slide"]{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.container-fluid {
    display: flex;
    height: 100vh;
    overflow-y: hidden; 
    transform: translateX(-100%);
    transition: transform 0.6s ease;
    margin: 0;
 }

.container-fluid.show {
    transform: translateX(0);
}

.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
}

.container-fluid.colors {
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.color-palette {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: inline;
    margin-top: 100px;
}

.color1 {
    width: 160px;
    height: 380px;
    background-color: #264653;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.color2 {
    width: 160px;
    height: 380px;
    background-color: #2a9d8f;
}
.color3 {
    width: 160px;
    height: 380px;
    background-color: #e9c46a;
}
.color4 {
    width: 160px;
    height: 380px;
    background-color: #f4a261;
}
.color5 {
    width: 160px;
    height: 380px;
    background-color: #e76f51;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.text-hover {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.color1:hover {
    width: 180px;
    height: 500px;
}

.color1:hover .text-hover {
    display: block;
}

.color2:hover .text-hover {
    display: block;
}

.color3:hover .text-hover {
    display: block;
}

.color4:hover .text-hover {
    display: block;
}

.color5:hover .text-hover {
    display: block;
}

div [class^="color"]{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 264653-2a9d8f-e9c46a-f4a261-e76f51 */